# randomly generated secret -> openssl rand -hex 32
JWT_SECRET=""

# discord client oauth2 env variables
CLIENT_ID=""
CLIENT_SECRET=""

# optional, only used for extra bot features
CLIENT_TOKEN=""
PUBLIC_KEY=""
LASTFM_API_KEY=""

# optional, only used for debugging
ADMIN_USER_ID=""
